.item {

    position: relative;
        height: 426px;
        border-radius: 12px;

}

.favoriteBtn {
position: absolute;
    right: 14px;
    top: 14px;
    width: 20px;
    height: 20px;
    display: flex;
    background-color: transparent;
    border: transparent;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.photo {
    margin-bottom: 14px;
        object-fit: cover;
        object-position: center;
        border-radius: 14px;
}

.titleCar {
    display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
}

.nameCar {
    font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
}

.nameCarAccent {
    color: #3470FF;
}

.infoList {
    display: flex;
        flex-wrap: wrap;
        list-style-type: none
}

.infoItem {
    
    font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
    
        color:#12141780;
    
    &:not(:last-child) {
        border-right: 2px solid color #1214171A 
    
    ;
    padding-right: 6px;
    }
    
    &:not(:first-child) {
        padding-left: 6px;
    }
}

.btnLearnMore {
    width: 274px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 28px;
        font-weight: 600;
        line-height: 1.43;
        border-radius: 12px;
        border: transparent;
    
        background-color: #3470FF;
    
    color: #ffffff;
    
    cursor: pointer;
}

